@use "sass:math";
@import "circle";
// @import "wave/circle-wave";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-dark: #fff;
        --color-dark-invert: #1a1a1a;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-dark: #1a1a1a;
        --color-dark-invert: #fff;
    }
}

ul {
    list-style: none;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: var(--color-dark);
    .circle-anim-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        @media screen and (max-width: $medium) {
            flex-direction: column;
            li {
                margin-bottom: 20px;
            }
        }

        li.circle-anim-li {
            color: $red;

            border-radius: 50%;
            width: $li-height;

            span {
                width: 100%;
                height: $li-height;
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;
                position: relative;
                overflow: hidden;

                font-size: 1.8rem;
                z-index: 2;
            }
            &.wave {
                border: solid 2px $red;
                box-shadow: 0 0 5px $red;
                span {
                    border: solid 3px var(--color-dark);
                }
            }
            &.progress {
                box-shadow: 0 0 5px $red;
                box-sizing: content-box;
                border: solid 1.5px $red;
                position: relative;
                .pie {
                    width: $li-height;
                    height: $li-height;

                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                    border: solid 2px var(--color-dark);
                }
            }
        }
    }
}

.text {
    height: 100vh;
    color: var(--color-dark-invert);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer {
    height: 100vh;
    color: var(--color-dark-invert);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
