body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: var(--color-dark);
}
body .circle-anim-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1036px) {
  body .circle-anim-ul {
    flex-direction: column;
  }
  body .circle-anim-ul li {
    margin-bottom: 20px;
  }
}
body .circle-anim-ul li.circle-anim-li {
  color: #ff0000;
  border: solid 2px #ff0000;
  border-radius: 50%;
  width: 12rem;
  box-shadow: 0 0 5px #ff0000;
}
body .circle-anim-ul li.circle-anim-li span {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px var(--color-dark);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
}

@-webkit-keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
li.circle-anim-li:first-child {
  width: 12rem;
  -webkit-animation: border-anim14 0.35s ease-out forwards 1;
          animation: border-anim14 0.35s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim14 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa3600;
    box-shadow: 0 0 5px #fa3600;
  }
}
@keyframes border-anim14 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa3600;
    box-shadow: 0 0 5px #fa3600;
  }
}
li.circle-anim-li:first-child span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px #1a1a1a;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim14 0.35s ease-out forwards 1;
          animation: text-anim14 0.35s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim14 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa3600;
    text-shadow: 0 0 3px #fa3600;
  }
}
@keyframes text-anim14 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa3600;
    text-shadow: 0 0 3px #fa3600;
  }
}
li.circle-anim-li:first-child span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 45%;
  -webkit-animation: rotate360 11.75s linear forwards infinite, color-anim14 0.35s ease-out forwards 1;
          animation: rotate360 11.75s linear forwards infinite, color-anim14 0.35s ease-out forwards 1;
}
@-webkit-keyframes color-anim14 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa3600;
    top: 86%;
    box-shadow: 0 0 20px #fa3600;
  }
}
@keyframes color-anim14 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa3600;
    top: 86%;
    box-shadow: 0 0 20px #fa3600;
  }
}

li.circle-anim-li:nth-child(2) {
  width: 12rem;
  -webkit-animation: border-anim27 0.675s ease-out forwards 1;
          animation: border-anim27 0.675s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim27 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa7d00;
    box-shadow: 0 0 5px #fa7d00;
  }
}
@keyframes border-anim27 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa7d00;
    box-shadow: 0 0 5px #fa7d00;
  }
}
li.circle-anim-li:nth-child(2) span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px #1a1a1a;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim27 0.675s ease-out forwards 1;
          animation: text-anim27 0.675s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim27 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa7d00;
    text-shadow: 0 0 3px #fa7d00;
  }
}
@keyframes text-anim27 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa7d00;
    text-shadow: 0 0 3px #fa7d00;
  }
}
li.circle-anim-li:nth-child(2) span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 44%;
  -webkit-animation: rotate360 13.375s linear forwards infinite, color-anim27 0.675s ease-out forwards 1;
          animation: rotate360 13.375s linear forwards infinite, color-anim27 0.675s ease-out forwards 1;
}
@-webkit-keyframes color-anim27 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa7d00;
    top: 73%;
    box-shadow: 0 0 20px #fa7d00;
  }
}
@keyframes color-anim27 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa7d00;
    top: 73%;
    box-shadow: 0 0 20px #fa7d00;
  }
}

li.circle-anim-li:nth-child(3) {
  width: 12rem;
  -webkit-animation: border-anim61 1.525s ease-out forwards 1;
          animation: border-anim61 1.525s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim61 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fafa00;
    box-shadow: 0 0 5px #fafa00;
  }
}
@keyframes border-anim61 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fafa00;
    box-shadow: 0 0 5px #fafa00;
  }
}
li.circle-anim-li:nth-child(3) span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px #1a1a1a;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim61 1.525s ease-out forwards 1;
          animation: text-anim61 1.525s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim61 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #e4b900;
    text-shadow: 0 0 3px #e4b900;
  }
}
@keyframes text-anim61 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #e4b900;
    text-shadow: 0 0 3px #e4b900;
  }
}
li.circle-anim-li:nth-child(3) span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 46%;
  -webkit-animation: rotate360 17.625s linear forwards infinite, color-anim61 1.525s ease-out forwards 1;
          animation: rotate360 17.625s linear forwards infinite, color-anim61 1.525s ease-out forwards 1;
}
@-webkit-keyframes color-anim61 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fafa00;
    top: 39%;
    box-shadow: 0 0 20px #fafa00;
  }
}
@keyframes color-anim61 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fafa00;
    top: 39%;
    box-shadow: 0 0 20px #fafa00;
  }
}

li.circle-anim-li:last-child {
  width: 12rem;
  -webkit-animation: border-anim82 2.05s ease-out forwards 1;
          animation: border-anim82 2.05s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim82 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #7dfa00;
    box-shadow: 0 0 5px #7dfa00;
  }
}
@keyframes border-anim82 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #7dfa00;
    box-shadow: 0 0 5px #7dfa00;
  }
}
li.circle-anim-li:last-child span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px #1a1a1a;
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim82 2.05s ease-out forwards 1;
          animation: text-anim82 2.05s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim82 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #44b900;
    text-shadow: 0 0 3px #44b900;
  }
}
@keyframes text-anim82 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #44b900;
    text-shadow: 0 0 3px #44b900;
  }
}
li.circle-anim-li:last-child span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 43%;
  -webkit-animation: rotate360 20.25s linear forwards infinite, color-anim82 2.05s ease-out forwards 1;
          animation: rotate360 20.25s linear forwards infinite, color-anim82 2.05s ease-out forwards 1;
}
@-webkit-keyframes color-anim82 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #7dfa00;
    top: 18%;
    box-shadow: 0 0 20px #7dfa00;
  }
}
@keyframes color-anim82 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #7dfa00;
    top: 18%;
    box-shadow: 0 0 20px #7dfa00;
  }
}
