@-webkit-keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
li.circle-anim-li.wave.active:first-child {
  width: 12rem;
  -webkit-animation: border-anim10 0.25s ease-out forwards 1;
          animation: border-anim10 0.25s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim10 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa2100;
    box-shadow: 0 0 5.3333333333px #fa2100;
  }
}
@keyframes border-anim10 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa2100;
    box-shadow: 0 0 5.3333333333px #fa2100;
  }
}
li.circle-anim-li.wave.active:first-child span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px var(--color-dark);
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim10 0.25s ease-out forwards 1;
          animation: text-anim10 0.25s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim10 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa2100;
    text-shadow: 0 0 3px #fa2100;
  }
}
@keyframes text-anim10 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa2100;
    text-shadow: 0 0 3px #fa2100;
  }
}
li.circle-anim-li.wave.active:first-child span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 46%;
  -webkit-animation: rotate360 11.25s linear forwards infinite, color-anim10 0.25s ease-out forwards 1;
          animation: rotate360 11.25s linear forwards infinite, color-anim10 0.25s ease-out forwards 1;
}
@-webkit-keyframes color-anim10 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa2100;
    top: 90%;
    box-shadow: 0 0 20px #fa2100;
  }
}
@keyframes color-anim10 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa2100;
    top: 90%;
    box-shadow: 0 0 20px #fa2100;
  }
}

li.circle-anim-li.wave.active:nth-child(2) {
  width: 12rem;
  -webkit-animation: border-anim27 0.675s ease-out forwards 1;
          animation: border-anim27 0.675s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim27 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa7d00;
    box-shadow: 0 0 5.9px #fa7d00;
  }
}
@keyframes border-anim27 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fa7d00;
    box-shadow: 0 0 5.9px #fa7d00;
  }
}
li.circle-anim-li.wave.active:nth-child(2) span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px var(--color-dark);
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim27 0.675s ease-out forwards 1;
          animation: text-anim27 0.675s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim27 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa7d00;
    text-shadow: 0 0 3px #fa7d00;
  }
}
@keyframes text-anim27 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #fa7d00;
    text-shadow: 0 0 3px #fa7d00;
  }
}
li.circle-anim-li.wave.active:nth-child(2) span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 45%;
  -webkit-animation: rotate360 13.375s linear forwards infinite, color-anim27 0.675s ease-out forwards 1;
          animation: rotate360 13.375s linear forwards infinite, color-anim27 0.675s ease-out forwards 1;
}
@-webkit-keyframes color-anim27 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa7d00;
    top: 73%;
    box-shadow: 0 0 20px #fa7d00;
  }
}
@keyframes color-anim27 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fa7d00;
    top: 73%;
    box-shadow: 0 0 20px #fa7d00;
  }
}

li.circle-anim-li.wave.active:nth-child(3) {
  width: 12rem;
  -webkit-animation: border-anim61 1.525s ease-out forwards 1;
          animation: border-anim61 1.525s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim61 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fafa00;
    box-shadow: 0 0 7.0333333333px #fafa00;
  }
}
@keyframes border-anim61 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #fafa00;
    box-shadow: 0 0 7.0333333333px #fafa00;
  }
}
li.circle-anim-li.wave.active:nth-child(3) span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px var(--color-dark);
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim61 1.525s ease-out forwards 1;
          animation: text-anim61 1.525s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim61 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #e4b900;
    text-shadow: 0 0 3px #e4b900;
  }
}
@keyframes text-anim61 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #e4b900;
    text-shadow: 0 0 3px #e4b900;
  }
}
li.circle-anim-li.wave.active:nth-child(3) span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 44%;
  -webkit-animation: rotate360 17.625s linear forwards infinite, color-anim61 1.525s ease-out forwards 1;
          animation: rotate360 17.625s linear forwards infinite, color-anim61 1.525s ease-out forwards 1;
}
@-webkit-keyframes color-anim61 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fafa00;
    top: 39%;
    box-shadow: 0 0 20px #fafa00;
  }
}
@keyframes color-anim61 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #fafa00;
    top: 39%;
    box-shadow: 0 0 20px #fafa00;
  }
}

li.circle-anim-li.wave.active:last-child {
  width: 12rem;
  -webkit-animation: border-anim82 2.05s ease-out forwards 1;
          animation: border-anim82 2.05s ease-out forwards 1;
  border-radius: 50%;
}
@-webkit-keyframes border-anim82 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #7dfa00;
    box-shadow: 0 0 7.7333333333px #7dfa00;
  }
}
@keyframes border-anim82 {
  from {
    border: solid 2px #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    border: solid 2px #7dfa00;
    box-shadow: 0 0 7.7333333333px #7dfa00;
  }
}
li.circle-anim-li.wave.active:last-child span {
  width: 100%;
  height: 12rem;
  border-radius: 50%;
  border: solid 3px var(--color-dark);
  position: relative;
  overflow: hidden;
  font-size: 1.8rem;
  z-index: 2;
  -webkit-animation: text-anim82 2.05s ease-out forwards 1;
          animation: text-anim82 2.05s ease-out forwards 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes text-anim82 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #44b900;
    text-shadow: 0 0 3px #44b900;
  }
}
@keyframes text-anim82 {
  from {
    color: #ff0000;
    text-shadow: 0 0 3px #ff0000;
  }
  to {
    color: #44b900;
    text-shadow: 0 0 3px #44b900;
  }
}
li.circle-anim-li.wave.active:last-child span::after {
  content: "";
  height: 250%;
  width: 250%;
  position: absolute;
  z-index: -1;
  left: -75%;
  border-radius: 43%;
  -webkit-animation: rotate360 20.25s linear forwards infinite, color-anim82 2.05s ease-out forwards 1;
          animation: rotate360 20.25s linear forwards infinite, color-anim82 2.05s ease-out forwards 1;
}
@-webkit-keyframes color-anim82 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #7dfa00;
    top: 18%;
    box-shadow: 0 0 20px #7dfa00;
  }
}
@keyframes color-anim82 {
  from {
    background: #ff0000;
    top: 100%;
    box-shadow: 0 0 20px #ff0000;
  }
  to {
    background: #7dfa00;
    top: 18%;
    box-shadow: 0 0 20px #7dfa00;
  }
}
