@-webkit-keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
li.circle-anim-li.progress:first-child {
  position: relative;
  -webkit-animation: border-anim-prog14 0.28s linear forwards;
          animation: border-anim-prog14 0.28s linear forwards;
}
@-webkit-keyframes border-anim-prog14 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #fa3600;
  }
}
@keyframes border-anim-prog14 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #fa3600;
  }
}
li.circle-anim-li.progress:first-child .pie {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  clip: rect(0, 12rem, 12rem, 6rem);
}
li.circle-anim-li.progress:first-child .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.24rem solid;
  clip: rect(0, 6rem, 12rem, 0);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
li.circle-anim-li.progress:first-child .pie .left-side {
  -webkit-animation: left-circle-anim-prog14 0.28s linear forwards;
          animation: left-circle-anim-prog14 0.28s linear forwards;
}
@-webkit-keyframes left-circle-anim-prog14 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(50.4deg);
  }
}
@keyframes left-circle-anim-prog14 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(50.4deg);
  }
}
li.circle-anim-li.progress:first-child .pie .right-side {
  display: none;
}

li.circle-anim-li.progress:nth-child(2) {
  position: relative;
  -webkit-animation: border-anim-prog27 0.54s linear forwards;
          animation: border-anim-prog27 0.54s linear forwards;
}
@-webkit-keyframes border-anim-prog27 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #fa7d00;
  }
}
@keyframes border-anim-prog27 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #fa7d00;
  }
}
li.circle-anim-li.progress:nth-child(2) .pie {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  clip: rect(0, 12rem, 12rem, 6rem);
}
li.circle-anim-li.progress:nth-child(2) .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.24rem solid;
  clip: rect(0, 6rem, 12rem, 0);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
li.circle-anim-li.progress:nth-child(2) .pie .left-side {
  -webkit-animation: left-circle-anim-prog27 0.54s linear forwards;
          animation: left-circle-anim-prog27 0.54s linear forwards;
}
@-webkit-keyframes left-circle-anim-prog27 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(97.2deg);
  }
}
@keyframes left-circle-anim-prog27 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(97.2deg);
  }
}
li.circle-anim-li.progress:nth-child(2) .pie .right-side {
  display: none;
}

li.circle-anim-li.progress:nth-child(3) {
  position: relative;
  -webkit-animation: border-anim-prog61 1.22s linear forwards;
          animation: border-anim-prog61 1.22s linear forwards;
}
@-webkit-keyframes border-anim-prog61 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #fafa00;
  }
}
@keyframes border-anim-prog61 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #fafa00;
  }
}
li.circle-anim-li.progress:nth-child(3) .pie {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: pie-anim-name61 1s linear forwards;
          animation: pie-anim-name61 1s linear forwards;
}
li.circle-anim-li.progress:nth-child(3) .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.24rem solid;
  clip: rect(0, 6rem, 12rem, 0);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
@-webkit-keyframes pie-anim-name61 {
  0% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  99% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  100% {
    clip: rect(auto, auto, auto, auto);
  }
}
@keyframes pie-anim-name61 {
  0% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  99% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  100% {
    clip: rect(auto, auto, auto, auto);
  }
}
li.circle-anim-li.progress:nth-child(3) .pie .left-side {
  -webkit-animation: left-circle-anim-prog61 1s linear forwards;
          animation: left-circle-anim-prog61 1s linear forwards;
}
@-webkit-keyframes left-circle-anim-prog61 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes left-circle-anim-prog61 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
li.circle-anim-li.progress:nth-child(3) .pie .right-side {
  transform: rotate(-180deg);
  visibility: hidden;
  -webkit-animation: right-circle-anim-prog61 0.22s linear 1s forwards;
          animation: right-circle-anim-prog61 0.22s linear 1s forwards;
}
@-webkit-keyframes right-circle-anim-prog61 {
  from {
    transform: rotate(-180deg);
    visibility: visible;
  }
  to {
    transform: rotate(-140.4deg);
    visibility: visible;
  }
}
@keyframes right-circle-anim-prog61 {
  from {
    transform: rotate(-180deg);
    visibility: visible;
  }
  to {
    transform: rotate(-140.4deg);
    visibility: visible;
  }
}

li.circle-anim-li.progress:last-child {
  position: relative;
  -webkit-animation: border-anim-prog82 1.64s linear forwards;
          animation: border-anim-prog82 1.64s linear forwards;
}
@-webkit-keyframes border-anim-prog82 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #7dfa00;
  }
}
@keyframes border-anim-prog82 {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 5px #7dfa00;
  }
}
li.circle-anim-li.progress:last-child .pie {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: pie-anim-name82 1s linear forwards;
          animation: pie-anim-name82 1s linear forwards;
}
li.circle-anim-li.progress:last-child .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.24rem solid;
  clip: rect(0, 6rem, 12rem, 0);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
@-webkit-keyframes pie-anim-name82 {
  0% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  99% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  100% {
    clip: rect(auto, auto, auto, auto);
  }
}
@keyframes pie-anim-name82 {
  0% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  99% {
    clip: rect(0, 12rem, 12rem, 6rem);
  }
  100% {
    clip: rect(auto, auto, auto, auto);
  }
}
li.circle-anim-li.progress:last-child .pie .left-side {
  -webkit-animation: left-circle-anim-prog82 1s linear forwards;
          animation: left-circle-anim-prog82 1s linear forwards;
}
@-webkit-keyframes left-circle-anim-prog82 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes left-circle-anim-prog82 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
li.circle-anim-li.progress:last-child .pie .right-side {
  transform: rotate(-180deg);
  visibility: hidden;
  -webkit-animation: right-circle-anim-prog82 0.64s linear 1s forwards;
          animation: right-circle-anim-prog82 0.64s linear 1s forwards;
}
@-webkit-keyframes right-circle-anim-prog82 {
  from {
    transform: rotate(-180deg);
    visibility: visible;
  }
  to {
    transform: rotate(-64.8deg);
    visibility: visible;
  }
}
@keyframes right-circle-anim-prog82 {
  from {
    transform: rotate(-180deg);
    visibility: visible;
  }
  to {
    transform: rotate(-64.8deg);
    visibility: visible;
  }
}
